* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.container {
  display: grid;
  grid-template-rows: [] 0px [] 350px [] 350px;
  border: 1px solid rgb(0, 8, 255);
  height: 2000px;
}
/* div one have head class and contain 2 sec (sec_head1 / sec_head2) */
.head {
  border: 1px solid red;
  height: 680px;
  width: 100%;
  /* position: absolute; */
}
.sec_head1 {
  position: relative;
  width: 100%;
  height: 100%;
}
.head_img {
  /* background-image: '../img/13960-mountain-peak-snow-clouds-sky-italy-4k.jpg'; */
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  position: absolute;
  z-index: 0;
  /* top: 0; */
}
.head_p_up {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  /* background: rgba(182, 182, 182, 0.178); */
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: [] 30% []10% []5% []5% [] 50%;
}
.head_p_up p:nth-child(1) {
  color: red;
  grid-row: 2/3;
  color: #10cab7;
  font-size: 75px;
  font-weight: 700;
}
.head_p_up p:nth-child(2) {
  color: #494949;
  grid-row: 3/4;
  word-break: break-word;
}
.head_p_up p:nth-child(3) {
  color: #494949;
  grid-row: 4/5;
  word-break: break-word;
}
.sec_head2 {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: []12.5% []25% []25% []25% []12.5%;
  align-items: center;
  justify-items: center;
}
.sec_head2_dv1 {
  grid-column: 2/3;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.sec_head2_dv2 {
  grid-column: 3/4;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.sec_head2_dv3 {
  grid-column: 4/5;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.sec_head2_dv1 i:nth-child(1) {
  color: #10cab7;
  font-size: 60px;
  padding: 40px 0;
}
.sec_head2_dv2 i:nth-child(1) {
  color: #10cab7;
  font-size: 60px;
  padding-bottom: 30px;
  padding: 40px 0;
}
.sec_head2_dv3 i:nth-child(1) {
  color: #10cab7;
  font-size: 60px;
  padding-bottom: 30px;
  padding: 40px 0;
}

.sec_head2_dv1 p:nth-child(2) {
  color: #2c4755;
  font-size: 18px;
  font-weight: 800;
  padding-bottom: 15px;
}
.sec_head2_dv2 p:nth-child(2) {
  color: #2c4755;
  font-size: 18px;
  font-weight: 800;
  padding-bottom: 15px;
}
.sec_head2_dv3 p:nth-child(2) {
  color: #2c4755;
  font-size: 18px;
  font-weight: 800;
  padding-bottom: 15px;
}
.sec_head2_dv1 p:nth-child(3) {
  line-height: 20px;
  color: #2c4755;
  font-size: 14px;

}
.sec_head2_dv2 p:nth-child(3) {
  line-height: 20px;
  color: #2c4755;
  font-size: 14px;

}
.sec_head2_dv3 p:nth-child(3) {
  line-height: 20px;
  color: #2c4755;
  font-size: 14px;

}
